body {
    background-image: url(./04.18_TheFold_DottedNotebooks_Index_\(1\).gif);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    /* background-image: linear-gradient(to left, red, yellow); */

}

.div-1 {
    text-align: center !important;
    width: 80%;
    /* width: 280px; */
    border: 5px solid black;
    margin-top: 20px !important;
    margin: auto;

}

h1 {
    padding-top: 10px;
    font-size: 2rem;
}

li {
    margin: 1px;
    padding: 0% !important;
}

.button-main {
    padding: 0.4rem !important;
    padding-bottom: 0.6rem !important;
    border-radius: 50%;
    width: 2.3rem;
    border: none;
    color: whitesmoke;
    background-color: blue;
    outline: none !important;
}

.span {
    font-size: 1.1rem;
}

button {
    cursor: pointer;
}

input {
    border: none;
    padding: 0.5rem !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
}

.buttons {
    padding: 2%;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    background-color: black;
    outline: none;
}

.smallDiv {
    margin-top: 5px !important;
    width: 250px;
    margin: 0 auto;
}

ol {
    margin: 0 auto;
}